<%- include('partials/header'); -%>

<!-- Heading Started -->
<div class="container py-6 container-contact">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="display-4">Who am I</h1>
      <hr class="border-1 border-light my-4 ml-0 text-left w-15" role="presentation">
      <p>A Minimalist Developer</p>
    </div>
  </div>
</div>
<!-- Heading Ended -->

<div class="bg-white text-black">
  <div class="container container-about py-2">
    <div class="bg-white mt-n6 px-3 px-lg-0">
      <div class="row justify-content-center py-4 py-lg-5">
        <div class="col-md-10 col-lg-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus elementum sagittis vitae et leo duis ut diam.</p>
          <img src="images/profile.jpg" class="img-fluid mt-3 mb-2" alt="Photo of Niranjay">
          <h2 class="mt-4">My journey till now</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non sodales neque sodales ut etiam sit amet nisl. Enim nunc faucibus a pellentesque. Elit sed vulputate mi sit amet.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fames ac turpis egestas integer. Eu sem integer vitae justo eget magna. Ultricies mi eget mauris pharetra et.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
