<%- include('partials/header'); -%>

<!-- Heading Started -->
<div class="container py-6 container-contact">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="display-4">Who am I</h1>
      <hr class="border-1 border-light my-4 ml-0 text-left w-15" role="presentation">
      <p>A Minimalist Developer</p>
    </div>
  </div>
</div>
<!-- Heading Ended -->

<div class="bg-white text-black">
  <div class="container container-about py-2">
    <div class="bg-white mt-n6 px-3 px-lg-0">
      <div class="row justify-content-center py-4 py-lg-5">
        <div class="col-md-10 col-lg-8">
          <p>Niranjay is a <i>fresh-outta-oven</i> computer science engineering grad from Manipal University Jaipur. A staunch believer of <i>autodidacticism</i>,  <i>minimalism</i> is a way of life for this bloke. He holds web designing and game development really close to his heart. When not looking at a backlit screen, he can be found trekking the mountains or strumming the strings of his guitar to keep his mind uncluttered and ready for more in life.</p>
          <img src="images/profile.jpg" class="img-fluid mt-3 mb-2" alt="Photo of Niranjay">

          <div class="row">
            <div class="col-lg-6 col-md-12">
              <img src="images/image1.jpg" class="img-fluid mt-3 mb-2" alt="Photo of Niranjay">
            </div>
            <div class="col-lg-6 col-md-12">
              <img src="images/image2.jpg" class="img-fluid mt-3 mb-2" alt="Photo of Niranjay">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-12">
              <img src="images/image4.jpg" class="img-fluid mt-3 mb-2" alt="Photo of Niranjay">
            </div>
            <div class="col-lg-6 col-md-12">
              <img src="images/image3.jpg" class="img-fluid mt-3 mb-2" alt="Photo of Niranjay">
            </div>
          </div>
          <!-- <h2 class="mt-4">My journey till now</h2> -->
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
