<%- include('partials/header'); -%>

  <main>
    <!-- Heading Started -->
    <div class="container py-6 container-contact">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h1 class="display-4">Contact Me</h1>
          <hr class="border-1 border-light my-4 ml-0 text-left w-15" role="presentation">
          <p>Let's get in touch!</p>
        </div>
      </div>
    </div>
    <!-- Heading Ended -->

    <div class="bg-white text-black">
      <div class="container py-2">
        <div class="bg-white mt-n6 px-3 px-lg-0">
          <div class="row justify-content-center py-4 py-lg-5">
            <div class="col-md-10 col-lg-8">
              <h3 class="contact-heading">Communication Channels</h3>
              <div class="contact-details py-3">
                <ul>
                  <i class="footer_icon fas fa-envelope"></i>
                  <li>niranjay.bhosale@gmail.com</li>
                  <br>
                  <i class="fas fa-mobile-alt"></i>
                  <li>+91 8003875247</li>
                </ul>
                <a href="https://www.linkedin.com/in/niranjayb/" target="_blank
                "><i class="social-icon linkedin fab fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/niranjay_30/" target="_blank"><i class="social-icon instagram fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

<%- include('partials/footer'); -%>
