<%- include('partials/header'); -%>

<main>
  <!-- .............................HERO.............................. -->
  <div class="container py-5 projects-hero">
    <div class="row py-5">
      <div class="col-lg-9">
        <h1 class="display-4 mb-4">Projects</h1>
        <p>Some of my designs.</p>
      </div>
    </div>
  </div>
  <!-- ...........................HERO ENDS........................... -->


  <!-- ........................PROJECTS STARTS........................ -->

  <div class="container pb-4 container-projects">

    <h2 class="mb-4">Landing Pages</h2>
    <ul class="row list-unstyled mb-4">
      <li class="col-md-6 mb-3">
        <a href="https://niranjay30.github.io/tindog/">
          <figure class="img-overlay">
            <img src="images/tindog.png" alt="Image of landing page of Tindog" class="border-dark img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Project</p>
            </div>
          </figure>
        </a>
      </li>
    </ul>

    <h2 class="mb-4">Web Apps</h2>
    <ul class="row list-unstyled mb-4">
      <li class="col-md-6 mb-3">
        <a href="https://niranjay30.github.io/drum-kit/">
          <figure class="img-overlay">
            <img src="images/drum-kit.png" alt="Image of Drum Kit project" class="border-dark img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Project</p>
            </div>
          </figure>
        </a>
      </li>
      <li class="col-md-6 mb-3">
        <a href="https://niranjay-newsletter.herokuapp.com/">
          <figure class="img-overlay">
            <img src="images/newsletter.png" alt="Image of newsletter app" class="border-dark img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Project</p>
            </div>
          </figure>
        </a>
      </li>
      <li class="col-md-6 mb-3">
        <a href="https://niranjay-to-do-list.herokuapp.com/">
          <figure class="img-overlay">
            <img src="images/to-do-list.png" alt="Image of todo list app" class="border-dark img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Project</p>
            </div>
          </figure>
        </a>
      </li>
      <li class="col-md-6 mb-3">
        <a href="https://niranjay30.github.io/dicee/">
          <figure class="img-overlay">
            <img src="images/dice.png" alt="Image of Dice game project" class="border-dark img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Project</p>
            </div>
          </figure>
        </a>
      </li>
      <li class="col-md-6 mb-3">
        <a href="https://niranjay30.github.io/simon-game/">
          <figure class="img-overlay">
            <img src="images/simon.png" alt="Image of Simon game project" class="border-dark img-thumbnail">
            <div class="img-hover">
              <p class="img-text">View Project</p>
            </div>
          </figure>
        </a>
      </li>
    </ul>

  </div>

  <!-- ........................PROJECTS ENDS........................ -->
</main>

<%- include('partials/footer'); -%>
